page-login {
  #logo {
    margin-top: 30px;
    width: 100%;
    height: 100%;
  }
  #background {
    position: relative;
    background-image: url(../../assets/imgs/background.jpg);
    height: 600px;
    width: 100%;
    background-position: center;
    background-size: cover;
  }
  #login{
    margin-top: 30px;
    width: 90%;
    position: fixed;
  }
  #optionButton{
    button{
      width: 80px;      
    }    
    margin: auto;
    margin-top: 30px;
  }
  .scroll-content {
    overflow-y: hidden;
  }
  #buttonSwitch {
    width: 80%;
  }
}
