page-home {
  ion-title {
    background-color: #fec00f;
  }
  #navSegment {
    background-color: #fec00f;
  }
  .toolbar-background-md {
    background-color: #fec00f;
  }
  .scroll-content {
    overflow-y: hidden;
  }
  #pictureMap {
    height: 280px;
    width: 100%;
  }
  .list {
      margin-top: 20px;
      width: 100%;
  }
  #detail{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;
  }
  #optionButton {
    margin-top: 10px;
  }
  .button{
    width: 150px;
    height: 40px;
  }
  .bar-button-menutoggle-ios{
    color: black;
  }
  .show-back-button {
    color: black;
  }
  ion-footer {
    text-align: center;
    color: #FFF;
    .toolbar-title-md {
        color: #FFF;
    }
    .toolbar-title-ios {
        color: #FFF;
    }
    .toolbar-background {
      background-color: #1756A7;
    }
  }
}
