page-home {
  .scroll-content {
    overflow-y: hidden;
  }
  #pictureMap {
    height: 300px;
    width: 100%;
  }
  .list {
      margin-top: 20px;
      width: 100%;
  }
  #detail{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;
  }
  #moreDetail{
    width: 100px;
    height: 30px;
  }
  ion-footer {
    text-align: center;
    color: #FFF;
    .toolbar-title-md {
        color: #FFF;
    }
    .toolbar-title-ios {
        color: #FFF;
    }
    .toolbar-background {
        background-color: #C31432;
    }
  }
}
